<h1>Home.hbs placeholder</h1>
<form method="POST" action="/" method="POST">

  <label for="name">Your name:</label>
  <input type="text" name="name">
  <input class="button" type="submit" value="submit">

</form>