{{!--   <input type="hidden" name="id" value="{{user.id}}"> --}}



  {{!-- <label for="option1">{{ question.option1 }}</label>
  <input type="radio" name="choice" value="1">
  <label for="option2">{{ question.option1 }}</label>
  <input type="radio" name="choice" value="2">
  <input class="button" type="submit" value="submit"> --}}